/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
/composer.phar
/vendor/
/web/bundles/
/web/app
/angular/app/bower_components
/angular/app/node_modules
.travis.yml
.idea
*~
app/SymfonyRequirements.php
/web/css/
/web/js/
/web/uploads/*
/web/media/
/web/jquery_components/
/src/node/node_modules/
.DS_Store
.gitignore
var/sessions/dev/
